	
<!--===============================================================================================-->	
<script href="../vendor_login/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script href="../vendor_loginvendor/bootstrap/js/popper.js"></script>
	<script href="../vendor_loginvendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script href="../vendor_loginvendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script href="../vendor_login/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script href="../js_login/main.js"></script>

</body>
</html>