	<div class="elelment">
	<div class="element-main">
		<center><br><h1>Forgot Password</h1><br/></center>
		<form class="elelment" action="/forgot/forgot_password" method="POST">
			<center>
				<h3>	<input class="elelment" type="text" name="emaill" placeholder="Your e-mail address"></h3>
			</center><br>
			<br><center><button class="elelment" type="submit">
			  Get my Password  </button></center>
		</form>
	</div>
</div>