<!--===============================================================================================-->
<script src="vendor_signup/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor_signup/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor_signup/bootstrap/js/popper.js"></script>
	<script src="vendor_signup/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor_signup/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor_signup/daterangepicker/moment.min.js"></script>
	<script src="vendor_signup/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor_signup/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js_signup/main.js"></script>

</body>
</html>
