<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(images_signup/bg-01.jpg);">
                <span class="login100-form-title-1">
                   <h1><center> Sign up</center></h1>
                </span>
            </div>
            <center>
            <form class="login100-form validate-form" action="/admin/signupsucess" method="POST">
                <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                    <span class="label-input100">Username</span>
                    <input class="input100" type="text" name="username" placeholder="Enter username">
                    <span class="focus-input100"></span>
                </div></center>
                <center>
                <form class="login100-form validate-form">
                <div class="wrap-input100 validate-input m-b-26" data-validate="email is required">
                    <span class="label-input100">email</span>
                    <input class="input100" type="text" name="email" placeholder="Enter Email">
                    <span class="focus-input100"></span>
                </div></center>
                <center>
                    <form class="login100-form validate-form">
                <div class="wrap-input100 validate-input m-b-26" data-validate="Password is required">
                    <span class="label-input100">Password</span>
                    <input class="input100" type="text" name="password" placeholder="Enter Password">
                    <span class="focus-input100"></span>
                </div></center>
                        
                <center>
                <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                    <span class="label-input100">confirm Password</span>
                    <input class="input100" type="text" name="confirm_password" placeholder="Enter confirm password">
                    <span class="focus-input100"></span>
                </div></center>
                <center>
                <div class="flex-sb-m w-full p-b-30">
                    <div class="contact100-form-checkbox">

                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label>

                    </div></center>

                    
                </div><br>
                    
                <div class="container-login100-form-btn">
                    <center>
                        <button class="login100-form-btn" type="submit">
                        Sign up&nbsp; </button></a>
                </center>

                

                </div>
            </form>
        </div>
    </div>
</div>